body {
  background-image: url('pastel-b.jpg');
}
   h1 {
    color: #b366ff; 
    margin-left: 40 px;
  }
  h2 {
    color: #b366ff; 
    margin-left: 40 px;
  }
  h3 {
    color: #b366ff; 
    margin-left: 40 px;
  }
  p {
    color: #b366ff;
  }
