body {
  background-image: url('pastel-b.jpg');
}
h1 {
    color:  #7a0099; 
    margin-left: 40 px;
  }
  h2 {
    color:  #7a0099; 
    margin-left: 40 px;
  }
  h3 {
    color:  #7a0099; 
    margin-left: 40 px;
  }
  p {
    color:  #7a0099;
  }
  table, th, td {
    border: 1px solid #7a0099;
    border-collapse: collapse;
  }
  th, td {
    background-color:  #eeccff;
  }
