body {
  background-image: url('pastel-b.jpg');
}
h1 {
    color:  #7a0099; 
    margin-left: 40 px;
  }
  h2 {
    color:  #7a0099; 
    margin-left: 40 px;
  }
  h3 {
    color:  #7a0099; 
    margin-left: 40 px;
  }
  p {
    color:  #7a0099;
  }
